.bg-gris {
    background-color:#44546A
}

.bg-azuloscuro {
    background-color: rgb(22, 22, 33);
}




h1.navbar {
    color:aliceblue
}

.header {
    background-color:#44546A
}

.headertext {
    background-color:rgb(236, 236, 236)
}

.row {
    padding: 4px;
}

.izquierda {
    display: flex;
    text-align: left;
}

.derecha {
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-icon {
    margin-right:1vw
}

.btn-navbar {
    background-color: #44546A;
    color:rgb(236, 236, 236);
    border-radius: 10%;
    border-color:rgb(236, 236, 236);
    margin-left:1vw
}

.btn-navbar:hover {
    background-color:rgb(236, 236, 236) ;
    border-color: #44546A;
    color: #44546A;
}

.btn-navbar:focus {
    background-color: #44546A;
    color:rgb(236, 236, 236);
    border-color:rgb(236, 236, 236);
}





.centro {
    align-items: center;
}

.fondo-header {
    align-self: center;
    padding: 0;
    margin: 0;
}

.fondo-header img {
    width: 100%;
}

.header-foto-container {
    padding: 0;
    border: 0;
}

/* .row-foto {
    position: relative;
    top:20px;
} */

.col-foto {
    padding: 0;
    border: 0;
    margin-left: 0px;
    margin-right: -0px;
    padding-right: -0px;
    margin-top: 0px;
}

.foto-RAG-container {
/*     display: inline-block;
    position: relative; */
    margin-top: -6em;
    margin-left: 5vw
    /*     margin-top: -12%; */
}

.foto-RAG {
/*     position: relative; */
    background-color: white;
    width: 25vw;
    max-width: 12em;
    border-radius: 50%;


/*     padding: 0;
    margin-left: 5vw; */
/*     position: relative;
    top:12%; */
/*     border-color: white;
    border-style: solid;
    border-width: 1vw; */
}

/* .pie-header {
    
    background-color: #44546A;
    margin-left: 8px;
    
    margin-top: 54px;

} */

.white {
    background-color: white;
}

.darkblue {
    background-color: rgb(22, 22, 33);
}

.grey {
    background: #F2F2F2;
}

.ancho {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

.negrita {
    text-decoration-style: solid;
}

.row-info {
    margin-left: 5vw;
    margin-top: 1em;
}

.texto-info h1 {
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.texto-info p {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 4em;
}

.separado {
    margin-top: 0.5em;
}